body{
  background-image: url("../img/space!!.jpg");
}
/* .container {
  background-image: url("../img/space!!.jpg");
} */
.jumbotron {
  background: linear-gradient(#a5f0b9,#4deb31,#65ebd2,#33a1f5, #7733FF);

}
img {
 width: 50%;
 height: 50%;
 margin: 40px;
}
p#p1 {
  border: 50px solid white;
  border-radius: 50px; 
  background-color: fuchsia;
}
.card {
  box-shadow: 5px 10px 10px;
  background-color: #984ebf;
  margin: 10px;
}
mark {
  background-color: skyblue;
}
.stinky { 
 padding-top: 10px;
  width: 30%;
  height: 30%;
  float: right;
}
.hungry {
 padding-top: 10px;
  width: 30%;
  height: 30%;
  float: right;
}
.spooky {
  padding-top: 10px;
  width: 30%;
  height: 30%;
  float:left;
}